{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1 class="center-align">Recipes</h1>
    
    <div class="row">
        <!-- Recipe 1 -->
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/lasagna.jpg') }}" alt="Plant based lasagna" class="recipe-img">
                    <span class="card-title">Plant based Lasagna</span>
                </div>
                <div class="card-content">
                    <p>A warming classic with a plant-based twist. Perfect for Dinner!</p>
                </div>
                <div class="card-action">
                    <a href="#modal1" class="modal-trigger">View Recipe</a>
                </div>
            </div>
        </div>

        <!-- Recipe 2 -->
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/burger.jpg') }}" alt="Plant based burger" class="recipe-img">
                    <span class="card-title">Plant based Burger</span>
                </div>
                <div class="card-content">
                    <p>You can't go wrong with one of these any time of the year!</p>
                </div>
                <div class="card-action">
                    <a href="#modal2" class="modal-trigger">View Recipe</a>
                </div>
            </div>
        </div>

        <!-- Recipe 3 -->
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/lentil-dahl.jpg') }}" alt="Lentil Dahl" class="recipe-img">
                    <span class="card-title">Lentil Dahl</span>
                </div>
                <div class="card-content">
                    <p>With this spicy Dahl your guests won't even notice it's plant-based!</p>
                </div>
                <div class="card-action">
                    <a href="#modal3" class="modal-trigger">View Recipe</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal full-screen-modal">
        <div class="modal-content">
            <h3>Plant based Lasagna</h3>
            <h4>Ingredients</h4>
            <ul>
                <li> 1 cup dried red lentils </li>
                <li>(2) 25-ounce jars marinara sauce</li>
                <li> cup raw cashews</li>
                <li> 14.5 ounce firm tofu patted dry</li>
                <li> 1/2 cup nutritional yeast</li>
                <li> 3 tablespoons fresh lemon juice from about 2 lemons</li>
                <li> 25-ounce jars marinara sauce</li>
                <li> 25-ounce jars marinara sauce</li>
            </ul>
            <p>A delicious recipe with layers of plant-based goodness</p>
            <p>Instructions 
                Cook the red lentils. Add 1 cup dried red lentils and 3 cups of water to a medium pot. Bring to a boil, and then simmer for about 20 minutes. Drain the lentils in a fine strainer, and then add back to the pot and stir in the marinara sauce. Set aside.
                Preheat the oven to 350 degrees.
                Make the Cashew-Tofu Ricotta: Add the cashews to a food processor and process until fine and crumbly. Then add the tofu in chunks, nutritional yeast, lemon juice, salt, basil, oregano and garlic powder to the food processor. Pulse until well combined and pretty smooth. If it's too thick, add a few tablespoons of water to blend. Set aside.
                Assembling the lasagna: Add about 1 cup of lentil marinara to the bottom of a large 9×13 inch casserole dish. Spread it around evenly. Next add 4-5 lasagna noodles (uncooked). Spread half of the ricotta on top of the noodles. Top with half of the spinach. Add about 1 cup of the marinara sauce over the spinach, then place 4-5 lasagna noodles on top. Spread the rest of the ricotta over the noodles, then the rest of the spinach. Place 4-5 more noodles on top of the spinach, and then pour the rest of the sauce over the top, evenly. 
                Cover tightly with foil and bake for 40 minutes.
                While the lasagna is cooking, make your Vegan Mozzarella Cheese, if using. Alternatively, use 2-3 cups store bought vegan mozzarella cheese.
                After 40 minutes, remove the foil and spoon on the mozzarella (or sprinkle the cheese all over). Place the lasagna back in the oven and bake for 20 more minutes, uncovered. Remove from oven, let cool for at least 15 minutes and serve.
                Leftover lasagna will keep for about 4 days in the refrigerator. See notes for freezing instructions.
                </p>
        </div>
    </div>

    <div id="modal2" class="modal full-screen-modal">
        <div class="modal-content">
            <h3>Plant based Burger</h3>
            <h4>Ingredients</h4>
            <ul>
                <li> 3 cups cooked black beans (2 15-oz cans, drained and rinsed) </li>
                <li>1 1/2 cups cooked brown rice or quinoa, white rice</li>
                <li> cup raw cashews</li>
                <li> 14.5 ounce firm tofu patted dry</li>
                <li> 1/2 cup nutritional yeast</li>
                <li> 2 tablespoons smoked paprika</li>
            </ul>
            <p>A delicious recipe with layers of plant-based goodness</p>
            <p>Instructions 
                In a small bowl, combine the ground flax and water. Give it a little stir and set aside. This is your flax egg mixture.
                In a large bowl, add the drained and rinsed black beans. Mash with a potato masher (or fork) until most of the beans are a paste. Leave about 1/4 of the beans whole.
                Place the cashews in a food processor, and pulse until they are breadcrumb size, NOT a powder. It's okay if a few larger pieces remain. You could instead chop them with a large knife. Add to the bowl with the beans.
                Now add the flax/water mix to the bowl with the beans/nuts as well as all the remaining ingredients. Mix very well with a large wooden spoon. 
                Using about 1/2 cup per burger, shape into burger patty shapes about 3/4 inch thick. 
                </p>
        </div>
    </div>

    <div id="modal3" class="modal full-screen-modal">
        <div class="modal-content">
            <h3>Lentil Dahl</h3>
            <h4>Ingredients</h4>
            <ul>
                <li> 1 tablespoon olive oil </li>
                <li> 1 tablespoon garam masala</li>
                <li> cup raw cashews</li>
                <li> 1 teaspoon ground turmeric</li>
                <li> 1/2 cup nutritional yeast</li>
                <li> 3 tablespoons fresh lemon juice from about 2 lemons</li>
                <li> 13.5 ounce can full fat coconut milk </li>
                <li> ▢3 cups vegetable broth</li>
            </ul>
            <p>A delicious recipe with layers of plant-based goodness</p>
            <p>Instructions 
                In a large pot or pan over medium heat, sauté the chopped onion in the olive oil for 5 minutes, stirring frequently. Then add the garlic and ginger and cook 1 more minute, until fragrant.
                Add the garam masala, turmeric and red pepper flakes to the pan and stir into the onion mixture. Add a few tablespoons of water if the mixture is too dry.
                Now add the dried lentils, canned tomatoes and their juices, coconut milk and vegetable broth to the pan. Stir well and turn the heat to high. Bring to a boil, then lower heat and simmer for about 15 minutes, until the lentils are cooked and soft. Stir occasionally.
                Squeeze the lemon juice into the pan, and stir in the spinach as well until wilted. Add salt to taste. I used 1 teaspoon.
                Serve with brown or white rice and Vegan Naan. Enjoy!
                </p>
        </div>
    </div>
</div>
{% endblock %}